h1 {
    text-align: center;
    background-color: #333333;
    color: #eee;
    font-size: 28px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 25px 25px 0px 0px;
}

h2 {
    font-size: 24px;
    width: 1024px;
    margin: 0 auto;
}

#bio-image {
    width: 200px;
    height: 200px;
    margin: 25px;
    float: left;
}

#contact-info {
    float: left;
    width: 30%;
}

body {
    background-color: #efeee7;
    font-family: Georgia,"Times New Roman",Times,serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

#main-bio {
    width: 70%;
    float: left;
}

a {
    color: #d21034;
}
